<aside class="sidebar">
  <div class="sidebar-widget">
    <h3 class="widget-title">Posts Recentes</h3>
    <ul class="recent-posts">
      {% for post in site.posts limit:5 %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncate: 55 }}</a>
          <span class="post-date">{{ post.date | date: "%d %b %Y" | downcase }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-widget">
    <h3 class="widget-title">Categorias</h3>
    <ul class="category-list">
      {% assign all_tags = site.posts | map: "tags" | join: "," | split: "," | uniq | sort %}
      {% for tag in all_tags %}
        <li><a href="{{ site.baseurl }}/categorias#{{ tag | slugify }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-widget">
    <h3 class="widget-title">Tags</h3>
    <div class="tag-cloud">
      {% assign all_tags = site.posts | map: "tags" | join: "," | split: "," | uniq | sort %}
      {% for tag in all_tags %}
        <a href="{{ site.baseurl }}/categorias#{{ tag | slugify }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
</aside>
